.spacer {
    height: 10px; /* Adjust the height as needed */
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 230px;
	height: 310px;
	background: whitesmoke;
	padding: 2.3rem 2rem;
	transition: box-shadow 0.3s ease, transform 0.2s ease;
	border-radius: 20px;
}

.card-info {
	display: flex;
	justify-content: center;
	bottom: 2em;
	width: 100%;
	text-align: center;
}

/* Image */
.card-img {
	/* background: #00ff88; */
	/* background: linear-gradient(to top, #00ff88, #61efff); */
	background-image: linear-gradient(to right, #434343 0%, black 100%);
	background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
	background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#414345,
		#232526
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#414345,
		#232526
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	height: 100%;
	width: 100%;
	position: absolute;
	transition: transform 0.3s ease-in-out;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: transform 0.2s ease, opacity 0.2s ease;
}
/*Image*/
.card-avatar {
	--size: 150px;
	background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	transition: transform 0.2s ease;
	margin-bottom: 1rem;
}
.avatar-image {
	width: 100%; /* Make the image fill the container */
	height: 100%; /* Make the image fill the container */
	border-radius: 50%;
}
/*Card footer*/
.card-social {
	transform: translateY(200%);
	display: flex;
	justify-content: space-between;
	width: 100%;
	opacity: 0;
	transition: transform 0.2s ease, opacity 0.2s ease;
	margin-left: -20px;
	gap: 20px;
}

.card-social__item {
	list-style: none;
	display: flex;
}

.card-social__item svg {
	display: block;
	height: 30px;
	width: 30px;
	cursor: pointer;
	transition: fill 0.2s ease, transform 0.2s ease;
}

.card-subtitle {
	color: #859ba8;
	font-size: 0.8em;
}

/* Hover*/
.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.card:hover .card-info {
	transform: translateY(-5%);
}

.card:hover .card-social {
	transform: translateY(100%);
	opacity: 1;
}

.card-avatar:hover {
	transform: scale(1.1);
}

.card-title {
	font-size: 1.2rem;
	font-weight: bold;
	color: #333;
}

.social-link {
	color: #444;
	transition: color 0.3s ease;
	scale: 1.2;
}

.social-link.github:hover {
	color: #000;
}

.social-link.email:hover {
	color: #d44638;
}

.social-link.linkedin:hover {
	color: #0077b5;
}