.card {
  width: 190px;
  height: 254px;
  position: relative;
  background: #f5f5f5;
  color: #252525;
  border-radius: 4px;
  overflow: hidden;
  line-height: 150%;
  box-shadow: 0px 10px 20px rgba(80, 80, 80, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.card-info {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}

/* Image */
.card-img {
  /* background: #00ff88; */
  /* background: linear-gradient(to top, #00ff88, #61efff); */
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100%;
  width: 100%;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img img {
  height: 60%;
  width: 75%;
  border-radius: 50%;
}

/* Buttons */
.social-media {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  transform: translateY(-6em);
  z-index: 3;
}

.social-media li {
  background: #f5f5f5;
  display: inline-flex;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease-in;
}
/* Icons */
.social-media li svg {
  --size: 24px;
  width: var(--size);
  height: var(--size);
  fill: #252525;
}

/* Texts */
.title {
  font-size: 1.5em;
  font-weight: bold;
}

.subtitle {
  letter-spacing: 1px;
  font-size: 0.9em;
}

/* Hovers */
.card:hover {
  box-shadow: 0px 15px 30px rgba(80, 80, 80, 0.3);
}

.card:hover .card-img {
  transform: translateY(-16rem);
}

.card:hover .social-media li {
  transform: translateY(-5%);
  opacity: 1;
}

.card:hover .social-media li:nth-child(1) {
  transition-delay: 0s;
}

.card:hover .social-media li:nth-child(2) {
  transition-delay: 0.1s;
}

.card:hover .social-media li:nth-child(3) {
  transition-delay: 0.2s;
}
