.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* border: 1px solidred; */
  background-color: #2196f3;
  overflow: hidden;
  border-radius: 7px;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
  /* margin-right: 20px; */
}

.button .button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(100px);
  height: 100%;
  width: 39px;
  background-color: #2196f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: #fff;
}

.button:hover {
  background: #2196f3;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #2196f3;
}

.button:active {
  border: 1px solid #2196f3;
}

.name{
  font-size: 3rem;
}

@media screen and (max-width: 768px){
    .button__text {
      font-size:small;
    }
    .name {
      font-size: smaller;
    }
}