.glass {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  margin-top: 60px;
  text-align: center;
}
.hero-text {
  font-size: 6rem;
	font-family: Poppins;
  font-weight: 400;
}

.hero-para {
  font-family: DM Sans;
	font-size: 1.5rem;
	font-weight: 400;
}
@media (max-width: 768px) {
  .hero-text {
    font-size: 2rem;
    font-weight: 100;
  } 
  .hero-para {
    font-size: 1rem;
    font-weight: 500;
  }
}